

h1 {
    color: hsl(0, 0%, 30%);
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient(
        to right,
        hsl(0, 0%, 30%) 0,
        hsl(0, 0%, 100%) 10%,
        hsl(0, 0%, 30%) 20%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    padding: 60px;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 600px;
    }
    100% {
        background-position: 600px;
    }
}



body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.Loginn {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: rgba(19, 18, 18, 0);
    border-radius: 24px;
    transition: 0.25s ;
    cursor: pointer;   
}

 .Register {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: rgba(19, 18, 18, 0);
    border-radius: 24px;
    transition: 0.25s ;
    cursor: pointer;


 }

