
    *{
        margin: 0;
        padding: 0;
    }

    body{
        overflow: hidden;
    }

    html{
        scroll-behavior: smooth;
        font-family: tahoma;
    }

    h1{
        text-align: center;
        position: fixed;
        top:0; left: 35%;
        color: purple;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 100%;
        width: 60px;
        position: fixed;
        top:0; left:0;
        background-color: none;
        
        justify-content: space-evenly;
    }

    ul button{
        size: 10px;
    }
    ul li{
        margin: 5px;
        padding: 5px;
        margin-top: 40px;
        margin-bottom: 40px;
        border: solid white 1px;
        display: flex;
        justify-content: center;
        box-shadow: 2px 0px 5px black;
        
    }

    ul li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        padding: 5px;
    }

    ul li a:hover{
        background-color: white;
        color: rgb(31, 18, 18);
    }
    

    section{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    } 

    #section1{
        background:linear-gradient(-45deg, white 30%, yellow 0%);
    }

    #section2{
        background: linear-gradient(-45deg, white 30%, lightgreen 0%);
    }
    
    #section3{
        background: linear-gradient(-45deg, white 30%, lightblue 0%);
    }
    
    #section4{
        background: linear-gradient(-45deg, white 30%, tomato 0%);
    }
    
    #section5{
        background: linear-gradient(-45deg, white  30%, rgb(41, 0, 0) 0%);
    }
  